@import 'reset.css';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #e4e4e4;
}

.header {
  width: 100%;
}

.menu {
  width: 1280px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 2rem;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
  background: #fbfbfb;
}

.menu-item {
  list-style: none;
  color: #000;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: calc(100vh - 70px);
  background: #fff;
}

.login-title {
  font-size: 28px;
  font-weight: 600;
}

.login-des {
  font-size: 14px;
  font-weight: 500;
}

.login-text {
  display: flex;
  flex-direction: column;
}

.login-container .ant-input-affix-wrapper {
  height: 50px;
  border-radius: 30px;
  border: 1px solid #e4e4e4;
}

.home-girl {
  position: relative;
  top: 2rem;
}

.home-boy {
  position: relative;
  bottom: 1rem;
  right: 2rem;
}

#horizontal_login {
  width: 390px;
  height: 475px;
  border-radius: 99px;
  background: #f8f8f8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.ant-form-item {
  width: 277px;
}

.login-container .ant-form-item-control-input-content {
  text-align: center;
}

.login-error-message {
  text-align: center;
  color: rgb(255, 0, 0);
}

.login-container .ant-btn {
  width: 88px;
  height: 37px;
  border-radius: 10px;
}

.chat-container {
  display: flex;
  background: #fff;
}

.chat-sidebar {
  min-width: 300px;
  height: calc(100vh - 70px);
  padding: 1.5rem 0 0 1.5rem;
  background-color: #fbfbfb;
  box-sizing: border-box;
  box-shadow: 4px 4px 6px -4px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.avatar-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chat-sidebar .avatar-container:hover {
  cursor: pointer;
  color: #67b9d4;
  transition: all;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.avatar-self .avatar-name {
  color: #000;
  font-size: 18px;
}

.avatar-self:hover {
  color: #000;
  transition: none;
  cursor: text !important;
}

.avatar-img {
  display: flex;
  border-radius: 99px;
  overflow: hidden;
}

.avatar-name {
  font-size: 16px;
  font-weight: 500;
}

.avatar-online {
  position: absolute;
  top: 0px;
  left: 30px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #a6ff97;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.25));
}

.chat-line {
  width: 258px;
  height: 3px;
  background-color: #efefef;
  margin: 2rem 0;
}

.chat-users,
.potential-users {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.potential-title {
  font-size: 16px;
  font-weight: 500;
  margin: 2.5rem 0 1.5rem 0;
}

.chat-no-user {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.chat-content {
  width: 100%;
  height: calc(100vh - 70px);
}

.chat-header {
  position: relative;
  width: 50%;
  top: -44px;
  font-size: 22px;
  font-weight: 700;
  text-align: end;
}

.messages {
  position: relative;
  top: -22px;
  height: calc(100vh - 70px);
  padding: 0 2rem;
  overflow-y: auto;
  background: #fff;
}

.message-self {
  text-align: end;
}

.message-self .message-text,
.message-other .message-text {
  max-width: 420px;
  display: inline-block;
  padding: 15px 20px;
  margin-bottom: 0.5rem;
  word-break: break-all;
  background: #e6f5fa;
  border-radius: 20px;
}

.message-other .message-text {
  margin: 0 0 0.5rem 3.5rem;
  background: #f6f6f6;
}

.message-self .message-footer,
.message-other .message-footer {
  font-size: 12px;
  color: #505050;
  margin: 0.5rem 0 1rem 0;
}

.message-other .message-footer {
  margin: 0.5rem 0 0.5rem 3.5rem;
}

.messages > div:first-child {
  margin-top: 1rem;
}

.messages > div:last-child {
  margin-bottom: 8rem;
}

.chat-input {
  width: 980px;
  height: 90px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background: #f0f0f0;
}

.chat-input-bg {
  width: 936px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  background: #fff;
}

.chat-input-message {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
}

#imageMessage {
  display: none;
}

.add-btn {
  cursor: pointer;
  padding-left: 1.5rem;
}

.image-preview-container {
  position: absolute;
  left: 0;
  bottom: 90px;
  max-width: 500px;
  padding: 1rem;
  background: #fff;
}

.image-preview {
  position: relative;
  width: 100%;
}

.delete-image-btn-bg,
.upload-image-btn-bg {
  position: absolute;
  top: -10px;
  right: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background: rgb(223, 71, 71);
  cursor: pointer;
}

.delete-image-btn,
.upload-image-btn {
  color: white;
}

.upload-image-btn-bg {
  right: -10px;
  background: rgb(89, 223, 71);
}

.image-wrapper {
  display: inline-block;
  position: relative;
}

.download-image-btn {
  position: absolute;
  bottom: 0px;
  right: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 35px;
  width: 35px;
  height: 35px;
  box-shadow: 2px 1px 8px -1px #ababab;
  cursor: pointer;
}

.message-image {
  max-width: 600px;
  margin: 1rem 0;
  border-radius: 20px;
  cursor: pointer;
}

.ant-modal-close {
  top: 2px !important;
  right: 2px !important;
}
